a{
    text-decoration: none;
    color:white;
    
}
body{
    background: url(https://dialogueparty.site/uploads/article/%D1%87%D0%BE%D0%B1%D0%BE%D1%82%20%D0%B3%D0%BE%D0%BB.jpg);
    color: white;
}
p{
    background: orangered;
    padding: 20px;
}